body{
    background-color: #EAF6F6;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 7px;
    width: 5%;
}

h1{
    color: #66BFBF;
}

h3{
    color: green;
}

/* ID's */

#profile-pic{
    border-radius: 40%;
    box-shadow: 2px 2px 5px grey;
}